<h2>@<%= current_user.username %>'s Profile</h2>
<%= form_for current_user, builder: FormBuilder do |form| %>
  <%= form.errors %>
  <%= form.fieldset_for :send_process_email, class: "check" do |process| %>
    <%= process.check_box %>
    <%= process.label :send_process_email, "Yes, please send me an email once my order has been confirmed!" %>
  <% end %>
  <%= form.fieldset_for :send_ship_email, class: "check" do |ship| %>
    <%= ship.check_box %>
    <%= ship.label :send_ship_email, "Yes, please send me an email once my order has been shipped!" %>
  <% end %>
    <div class="buttons">
    <%= form.submit "Update Profile", class: "button" %>
  </div>
<% end %>
