<%= render partial: "carts/cart_frozen", object: order.cart  %>
<div class="order-meta">
  <dl class="order-meta-shipping">
    <dt>Recipient</dt>
    <dd>
      <%= order.name %><br>
      <%= order.email %>
    </dd>
    <dt>Shipping Address</dt>
    <dd>
      <%= order.address1 %><br>
      <% if order.address2.present? %>
        <%= order.address2 %><br>    
      <% end %>
      <%= order.city %>, <%= order.state %> <%= order.postal_code %><br>
      United States
    </dd>
  </dl>  
  <dl class="order-meta-totals">
    <dt>Subtotal:</dt>
    <dd><%= number_to_currency(order.subtotal) %></dd>
    <dt>Shipping:</dt>
    <dd><%= number_to_currency(order.shipping) %></dd>
    <dt>Tax:</dt>
    <dd><%= number_to_currency(order.tax) %></dd>
    <dt>Total:</dt>
    <dd><%= number_to_currency(order.total) %></dd>
  </dl>
</div>


