<h2>Shipping information</h2>
<%= form_for @order, builder: FormBuilder do |form| %>
  <%= form.errors %>
  <%= form.fieldset_for :name do |name| %>
    <%= name.label %>
    <%= name.text_field %>
  <% end %>
  <%= form.fieldset_for :email do |email| %>
    <%= email.label %>
    <%= email.email_field %>
  <% end %>
  <%= form.fieldset_for :address1 do |address| %>
    <%= address.label "Address 1" %>
    <%= address.text_field %>  
  <% end %>
  <%= form.fieldset_for :address2 do |address| %>
    <%= address.label "Address 2" %>
    <%= address.text_field %>  
  <% end %>
  <%= form.fieldset_for :city do |city| %>
    <%= city.label %>
    <%= city.text_field %>  
  <% end %>
  <%= form.fieldset_for :state do |state| %>
    <%= state.label %>
    <%= state.select_field us_states %>  
  <% end %>
  <%= form.fieldset_for :postal_code do |postal_code| %>
    <%= postal_code.label "Zip code" %>
    <%= postal_code.text_field %>  
  <% end %>
  <div class="buttons">
    <%= form.submit "Continue Order", class: "button" %>
  </div>
<% end %>
