<div class="scene scene-1" data-photo-url="<%= canvas_photo_url(@photo.id, format: :png) %>">
  <div class="panels">
    <% %w(front top bottom left right).each do |side| %>
      <div style="background-image: url(<%= canvas_photo_url(@photo.id, format: :png) %>);" class="panel panel-<%= side %>"></div>
    <% end %>
  </div>
  <div class="floor"></div>
  <div class="toolbar">
    <input type="radio" name="scene" id="scene-1" value="1" checked>
    <input type="radio" name="scene" id="scene-2" value="2">
    <input type="radio" name="scene" id="scene-3" value="3">
  </div>
</div>  
<p>You should order something</p>

<%= form_for :line_item, url: cart_line_items_path do |form| %>
  <fieldset>
    <%= form.label :product_id %>
    <%= form.select :product_id, Product.canvases.map { |p| ["#{p.good} - #{p.size}", p.id ] } %>
  </fieldset>
  <fieldset>
    <%= form.label :contrast %>
    <%= form.select :contrast, contrast_levels %>
  </fieldset>
  <fieldset>
    <%= form.label :brightness %>
    <%= form.select :brightness, brightness_levels %>
  </fieldset>
  <%= form.hidden_field :photo_id, value: @photo.id %>    
  <%= form.submit "Purchase" %>
<% end %>


