<div class="scene scene-1" data-photo-url="<%= photo_url(@photo.id, format: :png) %>">
  <div class="panels">
    <% %w(front top bottom left right).each do |side| %>
      <div style="background-image: url(<%= photo_url(@photo.id, format: :png) %>);" class="panel panel-<%= side %>"></div>
    <% end %>
  </div>
  <div class="floor"></div>
  <div class="toolbar">
    <button name="bright" value="0">B</button>
    <input type="radio" name="scene" id="scene-1" value="1" checked>
    <input type="radio" name="scene" id="scene-2" value="2">
    <input type="radio" name="scene" id="scene-3" value="3">
    <button name="contrast" value="0">C</button>
  </div>
</div>  
<p>You should order something</p>

<% Product.all.each do |product| %>
  <%= form_for :line_item, url: cart_line_items_path do |form| %>
    <%= form.hidden_field :product_id, value: product.id %>
    <%= form.hidden_field :photo_id, value: @photo.id %>    
    <%= form.submit "#{product.size} #{number_to_currency(product.price)}" %>
  <% end %>
<% end %>
