<div class="scene scene-1" data-photo-url="<%= photo_variant_url(@photo, @variant, format: :png) %>">
  <div class="panels">
    <% %w(front top bottom left right).each do |side| %>
      <div style="background-image: url(<%= photo_variant_url(@photo, @variant, format: :png) %>);" class="panel panel-<%= side %>"></div>
    <% end %>
  </div>
  <div class="floor"></div>
  <div class="toolbar">
    <fieldset>
      <input type="radio" name="contrast" value="0" checked>
      <input type="radio" name="contrast" value="25">
      <input type="radio" name="contrast" value="50">
      <input type="radio" name="contrast" value="75">
      <label>Contrast</label>
    </fieldset>
    <fieldset>
      <input type="radio" name="scene" id="scene-1" value="1" checked>
      <input type="radio" name="scene" id="scene-2" value="2">
      <input type="radio" name="scene" id="scene-3" value="3">
      <label>View</label>
    </fieldset>
    <fieldset>
      <input type="radio" name="brightness" value="0" checked>
      <input type="radio" name="brightness" value="25">
      <input type="radio" name="brightness" value="50">
      <input type="radio" name="brightness" value="75">
      <label>Brightness</label>
    </fieldset>
  </div>
  <div class="navbar">
    <a href="<%= photos_path %>" class="photo-back">
      <%= image_tag "angle_bracket.png" %>
      <%= image_tag @photo.url, class: "photo-choosen" %>
    </a>
    Free shipping on orders over $50!
  </div>
</div>
<div class="product">
  <h2>Choose your canvas size:</h2>
  <div class="product-sizes">
    <div class="product-size product-size-selected">
      <div><%= @variant.name %></div>
      <div><%= number_to_currency(@variant.price) %></div>
    </div>
    <div class="product-size product-size-disabled">
      <div>16" x 16"</div>
      <div>$79.00</div>
    </div>
  </div>
  <p>* <em>The canvas measures 1.5" deep, so please keep in mind that 1.5" of your photo will wrap around each of the four sides.</em></p>
  <h2>Product Details</h2>
  <ul>
    <li>Poly-cotton blend canvas</li>
    <li>20.5 mil thick canvas</li>
    <li>Fade resistant</li>
    <li>Hand stretched</li>
    <li>Hand glued solid wood stretch bars</li>
    <li>Matte finish coating</li>
  </ul>
  <%= form_for :line_item, url: line_items_path do |form| %>
    <%= form.hidden_field :photo_id, value: @photo.id %>
    <%= form.hidden_field :variant_id, value: @variant.sku %>
    <div class="buttons">
      <%= form.submit "Add to cart - #{number_to_currency(@variant.price)}", class: "button-small button" %>
    </div>
  <% end %>
</div>


