<tr>
  <td class="preview"><%= image_tag photo_variant_url(line_item.photo, line_item.variant, format: :png) %></td>
  <td class="description"><%= line_item.variant.product.description %> - <%= line_item.variant.size %></td>
  <td class="price"><%= number_to_currency(line_item.variant.price) %></td>
  <td class="quantity">
    <%= form_for line_item do |form| %>
      <%= form.select :quantity, (1..20) %>
    <% end %>
  </td>
  <td class="remove">
    <%= form_for line_item, method: :delete do |form| %>
      <%= form.submit "X" %>
    <% end %>
  </td>
  <td class="total"><%= number_to_currency(line_item.total) %></td>
</tr>
