<!DOCTYPE html>
<html>
  <head>
    <title>atypical type</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header role="banner">
      <div class="wrapper">
        <div class="marketing"><i class="icon-truck"></i> free domestic shipping!</div>
        <nav id="top-menu">
          <h1><%= link_to image_tag("logo.png"), root_path %></h1>
          <ul>
            <% if signed_in? %>
              <li><%= link_to "Sign out", sign_out_path %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
            <li><%= link_to "Terms", terms_path %></li>
            <li><%= link_to "Privacy", privacy_path %></li>
            <li class="go-nav"><%= link_to image_tag("hamburger.png"), "#bottom-menu" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <article role="main" id="<%= controller_name =%>" class="<%= action_name %>">
      <%= yield %>
    </article>
    <footer role="contentinfo">
      <div class="wrapper">
        <nav id="bottom-menu" class="menu widget">        
          <h3>Atypical Type</h3>
    	    <ul>
            <% if signed_in? %>
              <li><%= link_to "Sign out", sign_out_path %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
            <li><%= link_to "Terms & Conditions", terms_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
          </ul>
        </nav>
        <nav class="menu widget">
		      <h3>Keep in touch for news and offers</h3>
          <ul>
            <li><a href="http://twitter.com/atypicaltype">twitter / @atypicaltype</a></li>
            <li><a href="http://instagram.com/atypicaltype">instagram / @atypicaltype</a></li>
            <li><a href="http://pinterest.com/atypicaltype">pinterest / @atypicaltype</a></li>
          </ul>
        </nav>
        <section class="copyright widget">
          <h3>Atypical Type has been created with <span class="love">&hearts;</span> by:</h3>
          <p><%= link_to image_tag("gurkie.png"), "http://elbongurk.com" %></p>
          <p>Proudly imagined, developed, printed and assembled in the USA.</p>
        </section>
      </div>
      <div class="notices">
        <p>This product uses the Instagram API but is not endorsed or certified by Instagram.</p>
      </div>
    </footer>
  </body>
</html>
