<!DOCTYPE html>
<html>
  <head>
    <title>atypical type</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller="<%= controller_name =%>" data-action="<%= action_name %>">
	  <section class="marketing"><i class="icon-truck"></i> free domestic shipping!</section>
    <nav id="top-menu">
      <h1><%= link_to image_tag("logo.png"), root_path %></h1>
      <ul>
        <li><%= link_to "Contact", "#" %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Blog", "#" %></li>
        <li class="go-nav"><%= link_to image_tag("hamburger.png"), "#bottom-menu" %></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <section class="copyright">
        <h3>Atypical Type has been created with &hearts; by:</h3>
        <p><%= link_to image_tag("gurkie.png"), "http://elbongurk.com" %></p>
        <p>Proudly imagined, developed, printed and assembled in the USA.</p>
        <p>&copy; 2013 Elbongürk, LLC</p>
      </section>
      <nav id="bottom-menu">
        <h3>Atypical Type</h3>
    	  <ul>
      	  <li><%= link_to "Sign In", sign_in_path %></li>
				  <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><%= link_to "Terms & Conditions", terms_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
        </ul>
      </nav>
      <section class="social">
		    <h3>Keep in touch for news and offers</h3>
        <ul>
          <li><a href="http://twitter.com"><i class="icon-twitter-sign"></i></a></li>
          <li><i class="icon-instagram"></i></li>
          <li><i class="icon-pinterest-sign"></i></li>
          <li><i class="icon-facebook-sign"></i></li>
        </ul>
      </section>
      <section class="notices">
        <p>This product uses the Instagram API but is not endorsed or certified by Instagram.</p>
      </section>
    </footer>
  </body>
</html>
